<nav>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/devices">Device Tracking</a></li>
        <li><a href="/assignments">Assignment/Return</a></li>
        <li><a href="/reporting">Reporting</a></li>
        <li><a href="/notifications">Notifications</a></li>
    </ul>
</nav>
